<div class="modal-header">
  <h4 class="modal-title" id="myModalLabel1">{{ title }}</h4>
  <button
    type="button"
    class="close"
    (click)="modal.dismiss('Cross click')"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body" tabindex="0" ngbAutofocus>
  <form>
    <div class="row" id="basic-table">
      <div class="col-sm-12 col-md-6">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Servicio</th>
                  <th>Estado</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of objDomainService">
                <tr>
                  <td>
                    {{ item.name }}
                  </td>
                  <td>
                    <div
                      class="custom-control custom-switch custom-switch-success"
                    >
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customSwitch{{ item.id }}"
                        [checked]="item.checked"
                        (change)="
                          getStatus($event, item.id, item.name, item.max_users)
                        "
                      />
                      <label
                        class="custom-control-label"
                        for="customSwitch{{ item.id }}"
                      >
                        <span class="switch-icon-left"
                          ><i data-feather="check"></i
                        ></span>
                        <span class="switch-icon-right"
                          ><i data-feather="x"></i
                        ></span>
                      </label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-sm-12 col-md-6">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Servicios</th>
                  <th>Contratos</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of setContractService">
                <tr>
                  <td>{{ item.name }}</td>
                  <td>
                    <core-touchspin
                      (onChange)="getCantUser($event, item.service_id)"
                      [minValue]="0"
                      [numberValue]="item.max_contracts"
                      [disable]="item.is_active == 0 ? true : false"
                    ></core-touchspin>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-light" (click)="modal.close()">
    Cancelar
  </button>
  <button
    [disabled]="loading"
    type="submit"
    class="btn btn-primary mr-1"
    (click)="submit()"
    rippleEffect
  >
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span
    >Guardar
  </button>
</div>
