<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- page users view start -->
    <section class="app-user-view">
      <!-- User Card & Plan Starts -->
      <div class="row">
        <!-- User Card starts-->
        <div class="col-xl-8 col-lg-7 col-md-6">
          <div class="card user-card">
            <div class="card-body">
              <div class="row">
                <div
                  class="col-xl-6 col-lg-12 d-flex flex-column justify-content-between border-container-lg"
                >
                  <div class="user-avatar-section">
                    <div class="d-flex justify-content-start">
                      <!--  <div *ngIf="data.avatar.length > 0; else customAvatar">
                        <img
                          class="img-fluid rounded"
                          [src]="data.avatar"
                          height="104"
                          width="104"
                          alt="User avatar"
                        />
                      </div> -->
                      <!-- <ng-template #customAvatar>
                        <div class="mr-1 ml-0">
                          <div
                            [ngClass]="{
                              'bg-light-success': data.status == 'active',
                              'bg-light-secondary': data.status == 'inactive',
                              'bg-light-warning': data.status == 'pending'
                            }"
                            class="rounded p-3"
                          >
                            <h2
                              [ngClass]="{
                                'text-success': data.status == 'active',
                                'text-secondary': data.status == 'inactive',
                                'text-warning': data.status == 'pending'
                              }"
                              class="m-0"
                            ></h2>
                          </div>
                        </div>
                      </ng-template> -->
                      <!--  <div class="d-flex flex-column ml-1">
                        <div class="user-info mb-1">
                          <h4 class="mb-0"></h4>
                          <span class="card-text"></span>
                        </div>
                        <div class="d-flex flex-wrap">
                          <a class="btn btn-primary" rippleEffect>Edit</a>
                          <button
                            class="btn btn-outline-danger ml-1"
                            rippleEffect
                          >
                            Delete
                          </button>
                        </div>
                      </div> -->
                    </div>
                  </div>
                  <div class="d-flex align-items-center user-total-numbers">
                    <div class="d-flex align-items-center mr-2">
                      <div class="color-box bg-light-primary">
                        <i
                          [data-feather]="'dollar-sign'"
                          [class]="'text-primary'"
                        ></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">23.3k</h5>
                        <small>Monthly Sales</small>
                      </div>
                    </div>
                    <div class="d-flex align-items-center">
                      <div class="color-box bg-light-success">
                        <i
                          [data-feather]="'trending-up'"
                          [class]="'text-success'"
                        ></i>
                      </div>
                      <div class="ml-1">
                        <h5 class="mb-0">$99.87K</h5>
                        <small>Annual Profit</small>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-xl-6 col-lg-12 mt-2 mt-xl-0" *ngIf="itemModel">
                  <div class="user-info-wrapper">
                    <div class="d-flex flex-wrap">
                      <a class="nav-link" href="itemModel.domain_name)">{{
                        itemModel.domain_name
                      }}</a>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="user" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Propietario</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ itemModel.fullname }}</p>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="check" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Estado</span
                        >
                      </div>

                      <div
                        class="badge badge-success"
                        *ngIf="itemModel.is_active == 0"
                      >
                        Activo
                      </div>
                      <div
                        class="badge badge-danger"
                        *ngIf="itemModel.is_active == 1"
                      >
                        Inactivo
                      </div>
                    </div>
                    <div class="d-flex flex-wrap my-50">
                      <div class="user-info-title">
                        <i data-feather="flag" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Compañía</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ itemModel.company_name }}</p>
                    </div>
                    <div class="d-flex flex-wrap">
                      <div class="user-info-title">
                        <i data-feather="phone" class="mr-1"></i>
                        <span
                          class="card-text user-info-title font-weight-bold mb-0"
                          >Correo electrónico</span
                        >
                      </div>
                      <p class="card-text mb-0">{{ itemModel.email }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /User Card Ends-->

        <!-- Plan Card starts-->
        <div class="col-xl-4 col-lg-5 col-md-6">
          <div class="card plan-card border-primary">
            <div
              class="card-header d-flex justify-content-between align-items-center pt-75 pb-1"
            >
              <h5 class="mb-0">Servicio activo</h5>
              <!-- <span
                class="badge badge-light-secondary"
                data-toggle="tooltip"
                data-placement="top"
                title="Expiry Date"
                >July 22, 2020 <span class="nextYear"></span>
              </span> -->
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead>
                    <tr>
                      <th>Servicio</th>
                      <th>Usuarios</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Demo</td>
                      <td>999</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- /Plan CardEnds -->
      </div>
      <!-- User Card & Plan Ends -->

      <!-- User Timeline & Permissions Starts -->
      <div class="row">
        <!-- information starts -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">
              <h4 class="card-title mb-2">User Timeline</h4>
            </div>
            <div class="card-body">
              <ul class="timeline">
                <li class="timeline-item">
                  <span class="timeline-point timeline-point-indicator"></span>
                  <div class="timeline-event">
                    <div
                      class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                    >
                      <h6>12 Invoices have been paid</h6>
                      <span class="timeline-event-time">12 min ago</span>
                    </div>
                    <p>Invoices have been paid to the company.</p>
                    <div class="media align-items-center">
                      <img
                        class="mr-1"
                        src="assets/images/icons/file-icons/pdf.png"
                        alt="invoice"
                        height="23"
                      />
                      <div class="media-body">invoice.pdf</div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span
                    class="timeline-point timeline-point-warning timeline-point-indicator"
                  ></span>
                  <div class="timeline-event">
                    <div
                      class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                    >
                      <h6>Client Meeting</h6>
                      <span class="timeline-event-time">45 min ago</span>
                    </div>
                    <p>Project meeting with john @10:15am.</p>
                    <div class="media align-items-center">
                      <div class="avatar">
                        <img
                          src="assets/images/avatars/12-small.png"
                          alt="avatar"
                          height="38"
                          width="38"
                        />
                      </div>
                      <div class="media-body ml-50">
                        <h6 class="mb-0">John Doe (Client)</h6>
                        <span>CEO of Infibeam</span>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="timeline-item">
                  <span
                    class="timeline-point timeline-point-info timeline-point-indicator"
                  ></span>
                  <div class="timeline-event">
                    <div
                      class="d-flex justify-content-between flex-sm-row flex-column mb-sm-0 mb-1"
                    >
                      <h6>Create a new project for client</h6>
                      <span class="timeline-event-time">2 days ago</span>
                    </div>
                    <p class="mb-0">Add files to new design folder</p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!-- information Ends -->

        <!-- User Permissions Starts -->
        <div class="col-md-6">
          <!-- User Permissions -->
          <div class="card">
            <div class="card-header">
              <h4 class="card-title">Servicios</h4>
            </div>
            <p class="card-text ml-2">Servicios que se le asignan al cliente</p>

            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Servicio</th>
                    <th>Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Servicio Demo</td>
                    <td>Estado Demo</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /User Permissions -->
        </div>
        <!-- User Permissions Ends -->
      </div>
      <!-- User Timeline & Permissions Ends -->

      <!-- User Invoice Starts-->
      <div class="row invoice-list-wrapper">
        <div class="col-12">
          <div class="card">
            <!--   <app-invoice-list></app-invoice-list> -->
          </div>
        </div>
      </div>
      <!-- /User Invoice Ends-->
    </section>
    <!-- page users view end -->
  </div>
</div>
