<div class="container">
  <form class="form" [formGroup]="editForm">
    <div class="form-group">
      <fieldset class="form-group">
        <textarea
          class="form-control"
          id="basicTextarea"
          rows="3"
          placeholder="Mi nota"
          formControlName="note"
          [ngClass]="{
            'is-invalid': isControlInvalid('note'),
            'is-valid': isControlValid('note')
          }"
        ></textarea>
        <div class="valid-feedback" *ngIf="isControlValid('note')">
          Nota ingresada correctamente
        </div>
        <div
          class="invalid-feedback"
          *ngIf="controlHasError('maxlength', 'note')"
        >
          {{ "Máximo: " }} 300
        </div>
        <div
          class="invalid-feedback"
          *ngIf="editForm.get('note')?.errors?.serverError"
        >
          {{ editForm.get("note")?.errors?.serverError }}
        </div>
      </fieldset>
    </div>
    <div class="row">
      <div class="col">
        <button
          type="button"
          [disabled]="loading"
          (click)="submit()"
          class="btn btn-primary"
          rippleEffect
        >
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span>
          Agregar
        </button>
      </div>
    </div>
  </form>

  <br />
  <hr />
  <div *ngFor="let item of noteList">
    <ul class="timeline mb-2">
      <li class="timeline-item">
        <span
          class="timeline-point timeline-point-success timeline-point-indicator"
        ></span>
        <div class="timeline-event">
          <div class="d-flex justify-content-between align-items-center mb-50">
            <h6>Administrador</h6>

            <span class="timeline-event-time">
              <button
                type="button"
                class="btn btn-icon btn-icon rounded-circle btn-flat-success"
                (click)="editItem(item.id, item.note)"
                rippleEffect
              >
                <span [data-feather]="'edit'"></span>
              </button>
              <span
                class="badge badge-pill badge-light-primary"
                *ngIf="isActiveNew(item)"
                >Nuevo</span
              >
              <span
                class="badge badge-pill badge-light-primary"
                *ngIf="isUpdateNote(item)"
                >Editado</span
              >
              {{ item.created_at | date: "medium" }}</span
            >
          </div>
          <p>
            {{ item.note }}
          </p>
        </div>
      </li>
    </ul>
    <hr />
  </div>
</div>
