<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <form class="form-validate" [formGroup]="editForm">
            <div class="row mt-1">
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label for="birth">Sucursal</label>
                  <ng-select [items]="branchList" [ngClass]="{
                    'is-invalid': isControlInvalid('branch_id'),
                    'is-valid': isControlValid('branch_id')
                  }" [clearable]="false" name="selectbranch" formControlName="branch_id" bindLabel="name"
                    bindValue="id" placeholder="Seleccione">
                    <ng-template ng-option-tmp ng-label-tmp let-item="item">
                      {{ item.name }}
                    </ng-template>
                  </ng-select>
                  <div class="valid-feedback" *ngIf="isControlValid('branch_id')">
                    Sucursal ingresada correctamente
                  </div>
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'branch_id')">
                    {{ "El elemento es requerido" }}
                  </div>
                  <div class="invalid-feedback" *ngIf="
                        editForm.get('branch_id')?.errors?.serverError
                      ">
                    {{
                    editForm.get("branch_id")?.errors?.serverError
                    }}
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label for="birth">Código</label>
                  <input id="website" [ngClass]="{
                    'is-invalid': isControlInvalid('code'),
                    'is-valid': isControlValid('code')
                  }" type="text" class="form-control" formControlName="code" placeholder="" name="website" />
                  <div class="valid-feedback" *ngIf="isControlValid('code')">
                    Código ingresado correctamente
                  </div>
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'code')">
                    {{ "El elemento es requerido" }}
                  </div>
                  <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'code')">
                    {{ "Máximo: " }} 100
                  </div>
                  <div class="invalid-feedback" *ngIf="
                          editForm.get('code')?.errors?.serverError
                        ">
                    {{
                    editForm.get("code")?.errors?.serverError
                    }}
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-md-4">
                <div class="form-group">
                  <label for="birth">Secuencial inicial</label>
                  <input [ngClass]="{
                    'is-invalid': isControlInvalid('sequential_init'),
                    'is-valid': isControlValid('sequential_init')
                  }" id="website" type="text" class="form-control" formControlName="sequential_init" placeholder=""
                    name="website" />
                  <div class="valid-feedback" *ngIf="isControlValid('sequential_init')">
                    Código ingresado correctamente
                  </div>
                  <div class="invalid-feedback" *ngIf="controlHasError('required', 'sequential_init')">
                    {{ "El elemento es requerido" }}
                  </div>
                  <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'sequential_init')">
                    {{ "Máximo: " }} 100
                  </div>
                  <div class="invalid-feedback" *ngIf="
                            editForm.get('sequential_init')?.errors?.serverError
                          ">
                    {{
                    editForm.get("sequential_init")?.errors?.serverError
                    }}
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6">
                <div class="form-group">
                  <label for="website">Descripción</label>
                  <textarea [ngClass]="{
                    'is-invalid': isControlInvalid('description'),
                    'is-valid': isControlValid('description')
                  }" class="form-control" id="basicTextarea" formControlName="description" rows="3"></textarea>
                  <div class="valid-feedback" *ngIf="isControlValid('description')">
                    Código ingresado correctamente
                  </div>
                  <div class="invalid-feedback" *ngIf="controlHasError('maxlength', 'description')">
                    {{ "Máximo: " }} 100
                  </div>
                  <div class="invalid-feedback" *ngIf="
                            editForm.get('description')?.errors?.serverError
                          ">
                    {{
                    editForm.get("description")?.errors?.serverError
                    }}
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 d-flex align-items-center">
                <div class="form-group">
                  <div class="custom-control custom-switch custom-switch-success">
                    <input type="checkbox" class="custom-control-input" id="customSwitch113"
                      formControlName="is_apply_invoice" checked />
                    <label class="custom-control-label" for="customSwitch113">
                      <span class="switch-icon-left"><i data-feather="check"></i></span>
                      <span class="switch-icon-right"><i data-feather="x"></i></span>
                    </label>
                    Aplica facturación electrónica
                  </div>
                </div>
              </div>

              <div class="col-12 d-flex flex-row-reverse flex-column mt-2">
                <button (click)="submit()" [disabled]="loading" type="submit"
                  class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1" rippleEffect>
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                  Guardar
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>