@import "@core/scss/angular/libs/datatables.component.scss";
@import "@core/scss/base/pages/app-user.scss";
@import "@core/scss/angular/libs/select.component.scss";
a.class_a_href {
  pointer-events: none;
  cursor: default;
  color: black;
}
