<!--
<div class="d-flex align-items-center">
	<a href="#" class="btn btn-light btn-hover-primary btn-sm btn-icon mr-2">
        <i class="flaticon2-file icon-md text-muted"></i>
      </a>

      <a href="#" class="btn btn-light btn-hover-primary btn-sm btn-icon mr-2">
        <i class="flaticon-download-1 icon-md text-muted"></i>
      </a>

      <a href="#" class="btn btn-light btn-hover-primary btn-sm btn-icon mr-2">
        <i class="flaticon2-fax icon-md text-muted"></i>
      </a>

      <a href="#" class="btn btn-light btn-hover-primary btn-sm btn-icon mr-2">
        <i class="flaticon2-settings icon-md text-muted"></i>
      </a>
</div>
-->

<div class="d-flex align-items-center flex-wrap mr-2">
  <div class="alert alert-custom alert-default" role="alert">
    <div class="alert-icon">
      <i class="flaticon2-information text-primary"></i>
    </div>
    <div class="alert-text"></div>
  </div>
</div>

<div
  class="d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap"
>
  <!--begin::Info-->

  <!-- end:: Info -->

  <!-- begin:: Toolbar -->
  <div class="d-flex align-items-center">
    <!--
    <a href="javascript:;" (click)="addItem()" class="btn btn-light btn-hover-primary btn-sm btn-icon mr-2">
      <i class="flaticon2-add icon-md text-muted"></i>
    </a>
    -->

    <div class="col-md-12 col-lg-6">
      <!--<div
        ng2FileDrop
        [ngClass]="{ 'file-drop-over': hasBaseDropZoneOver }"
        (fileOver)="fileOverBase($event)"
        [uploader]="uploader"
        class="py-5 mb-3 text-center font-medium-5 text-uppercase file-drop-zone"
      >
        Drop Files Here To Upload
      </div> -->
    </div>

    <a
      href="javascript:;"
      (click)="addItem()"
      class="btn btn-primary font-weight-bolder"
    >
      <i class="ki ki-plus icon-sm"></i>
      Nuevo Documento</a
    >
  </div>
</div>
<br />
