<div class="content-wrapper container-xxl p-0">
  <div class="card">
    <div>
      <div class="d-flex flex-row-reverse">
        <button class="btn btn-primary ml-1" (click)="addItem()" rippleEffect>
          <i
            data-feather="plus"
            class="d-sm-none d-inline-block mr-0 mr-sm-1"
          ></i
          ><span class="d-none d-sm-inline-block">Nuevo</span>
        </button>
      </div>
    </div>
    <div class="card-body">
      <div class="content-body">
        <div class="d-flex align-items-center">
          <table class="table">
            <thead>
              <tr>
                <th width="50%">Name</th>
                <th>Size</th>
                <th>Progress</th>
                <th>Status</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <strong></strong>
                </td>
                <td nowrap></td>
                <td></td>
                <td class="text-center"></td>
                <td nowrap>
                  <button
                    type="button"
                    class="btn btn-raised btn-outline-success btn-sm mr-50"
                    rippleEffect
                  >
                    <span data-feather="upload"></span>
                  </button>
                  <button
                    type="button"
                    class="btn btn-raised btn-outline-warning btn-sm mr-50"
                    rippleEffect
                  >
                    <i data-feather="slash"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-raised btn-outline-danger btn-sm"
                    rippleEffect
                  >
                    <i data-feather="trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
