<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <section id="pricing-plan">
      <!-- pricing plan cards -->
      <div class="row pricing-card">
        <div
          class="col-12 col-sm-offset-2 col-sm-10 col-md-12 col-lg-offset-2 col-lg-10 mx-auto"
        >
          <div class="row">
            <!-- standard plan -->
            <div class="col-12 col-md-4">
              <div class="card standard-pricing popular text-center">
                <div class="card-body">
                  <img
                    src="assets/images/isp/network.svg"
                    class="mb-1"
                    width="50%"
                    height="50%"
                    alt="svg img"
                  />
                  <h2>Network</h2>
                  <button class="btn btn-block btn-primary mt-2" rippleEffect>
                    ZONAS DE RED
                  </button>
                </div>
              </div>
            </div>
            <!--/ standard plan -->

            <!-- standard plan -->
            <div class="col-12 col-md-4">
              <div class="card standard-pricing popular text-center">
                <div class="card-body">
                  <img
                    src="assets/images/isp/wireless.svg"
                    class="mb-1"
                    alt="svg img"
                    width="50%"
                    height="50%"
                  />
                  <h2>Inalámbrica</h2>
                  <button class="btn btn-block btn-primary mt-2" rippleEffect>
                    APS
                  </button>
                </div>
              </div>
            </div>
            <!--/ standard plan -->

            <!-- standard plan -->
            <div class="col-12 col-md-4">
              <div class="card standard-pricing popular text-center">
                <div class="card-body">
                  <img
                    src="assets/images/isp/fiber.svg"
                    class="mb-1"
                    alt="svg img"
                    width="50%"
                    height="50%"
                  />
                  <h2>Fibra Óptica</h2>
                  <button class="btn btn-block btn-primary mt-2" rippleEffect>
                    OLT
                  </button>
                </div>
              </div>
            </div>
            <!--/ standard plan -->
          </div>
        </div>
      </div>
      <!--/ pricing plan cards -->
    </section>
  </div>
</div>
