<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <app-content-header [contentHeader]="contentHeader"></app-content-header>
    <!-- users edit start -->
    <section class="app-user-edit">
      <div class="card">
        <div class="card-body">
          <ul ngbNav #nav="ngbNav" class="nav nav-pills">
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="user" class="mr-sm-50"></i
                ><span class="d-none d-sm-block">Información</span></a
              >
              <ng-template ngbNavContent>
                <!-- Account Tab starts -->
                <div
                  class="tab-pane active"
                  id="account"
                  aria-labelledby="account-tab"
                  role="tabpanel"
                >
                  <!-- users edit media object ends -->
                  <!-- users edit account form start -->
                  <form class="form-validate" [formGroup]="editForm">
                    <h5 class="mb-2">Información General</h5>
                    <div class="row">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="type_people">Tipo de persona</label>
                          <ng-select
                            [(ngModel)]="typePeople"
                            [items]="getTypePeople"
                            [clearable]="false"
                            name="selectpeople"
                            formControlName="type_people"
                            bindLabel="name"
                            bindValue="id"
                            placeholder="Seleccione de la lista"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('type_people'),
                              'is-valid': isControlValid('type_people')
                            }"
                            (change)="changeTypePeople($event)"
                          >
                            <ng-template
                              ng-option-tmp
                              ng-label-tmp
                              let-item="item"
                            >
                              {{ item.name }}
                            </ng-template>
                          </ng-select>
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('type_people')"
                          >
                            Tipo de persona ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('type_people')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("type_people")?.errors?.serverError
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="type_identification"
                            >Tipo de identificador</label
                          >
                          <ng-select
                            [(ngModel)]="typeIdentificator"
                            [items]="getTypeIdentification"
                            [clearable]="false"
                            name="selecttypeidentification"
                            formControlName="type_identification"
                            bindValue="id"
                            bindLabel="name"
                            placeholder="Seleccione de la lista"
                            [ngClass]="{
                              'is-invalid': isControlInvalid(
                                'type_identification'
                              ),
                              'is-valid': isControlValid('type_identification')
                            }"
                          >
                            <ng-template
                              ng-option-tmp
                              ng-label-tmp
                              let-item="item"
                            >
                              {{ item.name }}
                            </ng-template>
                          </ng-select>
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('type_identification')"
                          >
                            Tipo de identificador ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('type_identification')?.errors
                                ?.serverError
                            "
                          >
                            {{
                              editForm.get("type_identification")?.errors
                                ?.serverError
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="identificator">Identificación</label>
                          <input
                            type="text"
                            id="identificator"
                            class="form-control"
                            placeholder="Identificador"
                            formControlName="identification"
                            name="identificator-customer"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('identification'),
                              'is-valid': isControlValid('identification')
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('identification')"
                          >
                            Identificación ingresada correctamente
                          </div>

                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('identification')?.errors
                                ?.serverError
                            "
                          >
                            {{
                              editForm.get("identification")?.errors
                                ?.serverError
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4" *ngIf="activeField == true">
                        <div class="form-group">
                          <label for="name_company">Razón Social</label>
                          <input
                            type="text"
                            id="razon-social"
                            class="form-control"
                            formControlName="name_company"
                            placeholder="Razón Social"
                            name="razon-social"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('name_company'),
                              'is-valid': isControlValid('name_company')
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('name_company')"
                          >
                            Nombre ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('name_company')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("name_company")?.errors?.serverError
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4" *ngIf="activeField == false">
                        <div class="form-group">
                          <label for="firstname">Nombres</label>
                          <input
                            type="text"
                            id="firstname"
                            class="form-control"
                            formControlName="firstname"
                            placeholder="Nombres"
                            name="firstname"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('firstname'),
                              'is-valid': isControlValid('firstname')
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('firstname')"
                          >
                            Nombres ingresados correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('firstname')?.errors?.serverError
                            "
                          >
                            {{ editForm.get("firstname")?.errors?.serverError }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4" *ngIf="activeField == false">
                        <div class="form-group">
                          <label for="lastname">Apellidos</label>
                          <input
                            type="text"
                            id="lastname"
                            class="form-control"
                            formControlName="lastname"
                            placeholder="Apellidos"
                            name="lastname"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('lastname'),
                              'is-valid': isControlValid('lastname')
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('lastname')"
                          >
                            Apellidos ingresados correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="editForm.get('name')?.errors?.serverError"
                          >
                            {{ editForm.get("name")?.errors?.serverError }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="started_at">{{ titleStartedAt }} </label>
                          <div class="input-group input-group-merge mb-2">
                            <input
                              type="date"
                              id="f-created"
                              class="form-control"
                              formControlName="started_at"
                              placeholder="F. Nacimiento / Creación"
                              (change)="getDate()"
                              [max]="maxDate"
                              name="f-created"
                              [ngClass]="{
                                'is-invalid': isControlInvalid('started_at'),
                                'is-valid': isControlValid('started_at')
                              }"
                            />
                            <div class="input-group-append">
                              <span class="input-group-text" id="basic-addon6"
                                >Edad: {{ myYear }}
                              </span>
                            </div>
                          </div>
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('started_at')"
                          >
                            Fecha ingresada correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('started_at')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("started_at")?.errors?.serverError
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="activeField == false">
                        <div class="form-group">
                          <label for="type_gender">Tipo de género</label>
                          <ng-select
                            [items]="getTypeGender"
                            name="selecttypegender"
                            formControlName="type_gender"
                            bindValue="id"
                            bindLabel="name"
                            placeholder="Seleccione de la lista"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('type_gender'),
                              'is-valid': isControlValid('type_gender')
                            }"
                          >
                            <ng-template
                              ng-option-tmp
                              ng-label-tmp
                              let-item="item"
                            >
                              {{ item.name }}
                            </ng-template>
                          </ng-select>
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('type_gender')"
                          >
                            Tipo de genero ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('type_gender')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("type_gender")?.errors?.serverError
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4 mb-2">
                        <div class="form-group">
                          <label for="address">Dirección</label>
                          <input
                            type="text"
                            id="address-customer"
                            formControlName="address"
                            class="form-control"
                            placeholder="Dirección"
                            name="address"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('address')"
                          >
                            Dirección ingresada correctamente
                          </div>

                          <div
                            class="invalid-feedback"
                            *ngIf="editForm.get('address')?.errors?.serverError"
                          >
                            {{ editForm.get("address")?.errors?.serverError }}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row mb-2">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="type_number">Tipo de número</label>
                          <ng-select
                            [(ngModel)]="typeNumber"
                            [items]="getTypeNumber"
                            name="selecttypenumber"
                            [clearable]="false"
                            formControlName="type_number"
                            bindValue="id"
                            bindLabel="name"
                            (change)="changeTypeNumber($event)"
                            placeholder="Seleccione de la lista"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('type_number'),
                              'is-valid': isControlValid('type_number')
                            }"
                          >
                            <ng-template
                              ng-option-tmp
                              ng-label-tmp
                              let-item="item"
                            >
                              {{ item.name }}
                            </ng-template>
                          </ng-select>
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('type_number')"
                          >
                            Tipo de número ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('type_number')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("type_number")?.errors?.serverError
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-2">
                        <div class="form-group">
                          <label for="phone_movil"
                            >Teléfono {{ titleNumber }}</label
                          >
                          <ngx-intl-tel-input
                            *ngIf="activeMovField == true"
                            [cssClass]="'custom form-control'"
                            [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true"
                            [searchCountryFlag]="true"
                            [searchCountryField]="[
                              SearchCountryField.Iso2,
                              SearchCountryField.Name
                            ]"
                            [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.Ecuador"
                            [phoneValidation]="true"
                            [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National"
                            name="phone-movil"
                            formControlName="phone_movil"
                          >
                          </ngx-intl-tel-input>
                          <input
                            *ngIf="activeMovField == false"
                            type="text"
                            class="form-control"
                            placeholder="(04) 999 99 99"
                            mask="(00) 000 00 00"
                            formControlName="phone_fixed"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('phone_movil')"
                          >
                            Teléfono ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('phone_movil')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("phone_movil")?.errors?.serverError
                            }}
                          </div>

                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('phone_fixed')"
                          >
                            Teléfono ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('phone_fixed')?.errors?.serverError
                            "
                          >
                            {{
                              editForm.get("phone_fixed")?.errors?.serverError
                            }}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="email">E-mail</label>
                          <input
                            type="email"
                            id="email"
                            class="form-control"
                            formControlName="email"
                            placeholder="Email"
                            name="email"
                            [ngClass]="{
                              'is-invalid': isControlInvalid('email'),
                              'is-valid': isControlValid('email')
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('email')"
                          >
                            Email ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="controlHasError('maxlength', 'email')"
                          >
                            {{ "Máximo: " }} 100
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="controlHasError('email', 'email')"
                          >
                            El correo ingresado no es válido
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="editForm.get('email')?.errors?.serverError"
                          >
                            {{ editForm.get("email")?.errors?.serverError }}
                          </div>
                        </div>
                      </div>

                      <div
                        [ngClass]="
                          activeField === false ? 'col-md-4' : 'col-md-12'
                        "
                      >
                        <div class="form-group">
                          <div
                            class="custom-control custom-switch custom-switch-success"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              formControlName="is_accounting"
                              id="customSwitch111"
                              checked
                            />
                            <label
                              class="custom-control-label"
                              for="customSwitch111"
                            >
                              <span class="switch-icon-left"
                                ><i data-feather="check"></i
                              ></span>
                              <span class="switch-icon-right"
                                ><i data-feather="x"></i
                              ></span>
                            </label>
                            ¿Obligado a llevar contabilidad?
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="activeField == false">
                        <div class="form-group">
                          <div
                            class="custom-control custom-switch custom-switch-success"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              formControlName="is_disability"
                              id="customSwitch112"
                              checked
                            />
                            <label
                              class="custom-control-label"
                              for="customSwitch112"
                            >
                              <span class="switch-icon-left"
                                ><i data-feather="check"></i
                              ></span>
                              <span class="switch-icon-right"
                                ><i data-feather="x"></i
                              ></span>
                            </label>
                            ¿Presenta discapacidad?
                          </div>
                        </div>
                      </div>
                      <div class="col-md-4 mb-1" *ngIf="activeField == false">
                        <div class="form-group">
                          <div
                            class="custom-control custom-switch custom-switch-success"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              id="customSwitch113"
                              formControlName="is_old"
                              checked
                            />
                            <label
                              class="custom-control-label"
                              for="customSwitch113"
                            >
                              <span class="switch-icon-left"
                                ><i data-feather="check"></i
                              ></span>
                              <span class="switch-icon-right"
                                ><i data-feather="x"></i
                              ></span>
                            </label>
                            ¿Es tercera edad?
                          </div>
                        </div>
                      </div>

                      <div class="col-md-12" *ngIf="activeField == false">
                        <div class="form-group">
                          <div
                            class="custom-control custom-switch custom-switch-success"
                          >
                            <input
                              type="checkbox"
                              class="custom-control-input"
                              formControlName="is_bond"
                              id="customSwitch114"
                              checked
                            />
                            <label
                              class="custom-control-label"
                              for="customSwitch114"
                            >
                              <span class="switch-icon-left"
                                ><i data-feather="check"></i
                              ></span>
                              <span class="switch-icon-right"
                                ><i data-feather="x"></i
                              ></span>
                            </label>
                            ¿Posee bono de desarrollo humano?
                          </div>
                        </div>
                      </div>
                    </div>

                    <h5 class="mb-2" *ngIf="activeField == true">
                      Representante legal
                    </h5>
                    <div class="row" *ngIf="activeField == true">
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="firstname_representative">Nombres</label>
                          <input
                            type="text"
                            id="fname-representative"
                            class="form-control"
                            formControlName="firstname_representative"
                            placeholder="Nombres"
                            name="fname-representative"
                            [ngClass]="{
                              'is-invalid': isControlInvalid(
                                'firstname_representative'
                              ),
                              'is-valid': isControlValid(
                                'firstname_representative'
                              )
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('firstname_representative')"
                          >
                            Nombres ingresados correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('firstname_representative')?.errors
                                ?.serverError
                            "
                          >
                            {{
                              editForm.get("firstname_representative")?.errors
                                ?.serverError
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="username">Apellidos</label>
                          <input
                            type="text"
                            id="lname-representative"
                            class="form-control"
                            formControlName="lastname_representative"
                            placeholder="Apellidos"
                            name="razon-social"
                            [ngClass]="{
                              'is-invalid': isControlInvalid(
                                'lastname_representative'
                              ),
                              'is-valid': isControlValid(
                                'lastname_representative'
                              )
                            }"
                          />
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('lastname_representative')"
                          >
                            Apellidos ingresados correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('lastname_representative')?.errors
                                ?.serverError
                            "
                          >
                            {{
                              editForm.get("lastname_representative")?.errors
                                ?.serverError
                            }}
                          </div>
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="phone_representative">Celular</label>
                          <ngx-intl-tel-input
                            *ngIf="activeMovField == true"
                            [cssClass]="'custom form-control'"
                            [preferredCountries]="preferredCountries"
                            [enableAutoCountrySelect]="true"
                            [enablePlaceholder]="true"
                            [searchCountryFlag]="true"
                            [searchCountryField]="[
                              SearchCountryField.Iso2,
                              SearchCountryField.Name
                            ]"
                            [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.Ecuador"
                            [phoneValidation]="true"
                            [separateDialCode]="separateDialCode"
                            [numberFormat]="PhoneNumberFormat.National"
                            name="phone-representative"
                            formControlName="phone_representative"
                          >
                          </ngx-intl-tel-input>
                          <div
                            class="valid-feedback"
                            *ngIf="isControlValid('phone_representative')"
                          >
                            Teléfono ingresado correctamente
                          </div>
                          <div
                            class="invalid-feedback"
                            *ngIf="
                              editForm.get('phone_representative')?.errors
                                ?.serverError
                            "
                          >
                            {{
                              editForm.get("phone_representative")?.errors
                                ?.serverError
                            }}
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="col-12 d-flex flex-row-reverse flex-column mt-2"
                    >
                      <button
                        (click)="submit()"
                        type="button"
                        class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                        rippleEffect
                      >
                        Guardar
                      </button>
                    </div>
                  </form>

                  <!-- users edit account form ends -->
                </div>
                <!-- Account Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center">
                <i data-feather="info" class="mr-sm-50"></i
                ><span class="d-none d-sm-block">Contactos</span></a
              >

              <ng-template ngbNavContent>
                <div class="row mb-2">
                  <div class="col-12 d-flex flex-row-reverse flex-column mt-2">
                    <button
                      class="btn btn-icon btn-primary"
                      type="button"
                      (click)="addRecord()"
                      rippleEffect
                    >
                      <i data-feather="plus" class="mr-25"></i>
                      <span>Agregar</span>
                    </button>
                  </div>
                </div>

                <form
                  action="#"
                  [formGroup]="editForm"
                  class="invoice-repeater"
                >
                  <div formArrayName="contacts" @heightIn>
                    <div
                      class="row d-flex align-items-end"
                      *ngFor="let actor of contacts.controls; let i = index"
                      [formGroupName]="i"
                    >
                      <div class="col-md-4 col-12">
                        <div class="form-group">
                          <label for="itemName{{ i }}">Contacto</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="contact"
                            name="itemName{{ i }}"
                            id="itemName{{ i }}"
                            placeholder="Contacto"
                          />
                        </div>
                      </div>

                      <div class="col-md-2 col-12">
                        <div class="form-group">
                          <label for="itemName{{ i }}">Parentesco</label>

                          <input
                            type="text"
                            class="form-control"
                            formControlName="parent"
                            name="itemName{{ i }}"
                            id="itemName{{ i }}"
                            placeholder="Parentesco"
                          />
                        </div>
                      </div>

                      <div class="col-md-2 col-12">
                        <div class="form-group">
                          <label for="itemName{{ i }}">Teléfono</label>
                          <ngx-intl-tel-input
                            [cssClass]="'custom'"
                            [preferredCountries]="[
                              CountryISO.UnitedStates,
                              CountryISO.UnitedKingdom
                            ]"
                            [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true"
                            [searchCountryFlag]="true"
                            [searchCountryField]="[
                              SearchCountryField.Iso2,
                              SearchCountryField.Name
                            ]"
                            [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.India"
                            [maxLength]="15"
                            [phoneValidation]="true"
                            [inputId]="my - input - id"
                            name="phone"
                            formControlName="phone"
                          ></ngx-intl-tel-input>
                          <!--  <input
                            type="text"
                            class="form-control"
                            formControlName="value_phone"
                            placeholder="(+593) 9999 99 99"
                            mask="(000) 000 00 00"
                          /> -->
                        </div>
                      </div>

                      <div class="col-md-3 col-12">
                        <div class="form-group">
                          <label for="itemName{{ i }}">E-mail</label>
                          <input
                            type="text"
                            class="form-control"
                            formControlName="value_email"
                            name="itemName{{ i }}"
                            id="itemName{{ i }}"
                            placeholder="Ingrese un valor"
                          />
                        </div>
                      </div>

                      <div class="col-md-1 col-12 mb-50">
                        <div class="form-group">
                          <button
                            class="btn btn-outline-danger text-nowrap px-1"
                            (click)="removeItem(i)"
                            rippleEffect
                          >
                            <i data-feather="x" class="mr-25"></i>
                          </button>
                        </div>
                      </div>
                    </div>

                    <hr />
                  </div>
                </form>

                <div class="col-12 d-flex flex-row-reverse flex-column mt-2">
                  <button
                    type="submit"
                    class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                    rippleEffect
                  >
                    Guardar
                  </button>
                </div>
                <!-- Information Tab ends -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="book-open" class="mr-sm-50"></i
                ><span class="d-none d-sm-block">Notas</span></a
              >
              <ng-template ngbNavContent>
                <app-note-list></app-note-list>
                <!-- Social Tab starts -->
              </ng-template>
            </li>
            <li ngbNavItem>
              <a ngbNavLink class="d-flex align-items-center"
                ><i data-feather="archive" class="mr-sm-50"></i
                ><span class="d-none d-sm-block">Documentos</span></a
              >
              <ng-template ngbNavContent>
                <!-- Social Tab starts -->
                <div
                  class="tab-pane"
                  id="social"
                  aria-labelledby="social-tab"
                  role="tabpanel"
                >
                  <!-- users edit social form start -->
                  <form class="form-validate">
                    <div class="row">
                      <div class="col-12 d-flex flex-sm-row flex-column mt-2">
                        <button
                          type="submit"
                          class="btn btn-primary mb-1 mb-sm-0 mr-0 mr-sm-1"
                          rippleEffect
                        >
                          Save Changes
                        </button>
                        <button
                          type="reset"
                          class="btn btn-outline-secondary"
                          rippleEffect
                        >
                          Reset
                        </button>
                      </div>
                    </div>
                  </form>
                  <!-- users edit socail form ends -->
                </div>
                <!-- Social Tab ends -->
              </ng-template>
            </li>
          </ul>
          <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
      </div>
    </section>
    <!-- users edit ends -->
  </div>
</div>
