@import '@core/scss/angular/libs/datatables.component.scss';
@import '@core/scss/base/pages/app-user.scss';
@import '@core/scss/angular/libs/select.component.scss';

/*.fix-width{
    width: 60px !important;
}

.textOverFlow {
    white-space: nowrap !important;
    text-overflow: ellipsis !important;;
    overflow: hidden !important;  
}*/