<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <!-- Basic Alerts start -->
    <section id="home-page">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-body pb-1">
              <form class="form form-vertical" [formGroup]="editForm">
                <div class="row">
                  <div class="col-12">
                    <div class="form-group">
                      <label for="company-icon">Compañía</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><span [data-feather]="'briefcase'"></span
                          ></span>
                        </div>
                        <input
                          type="text"
                          formControlName="company_name"
                          id="company-icon"
                          class="form-control"
                          name="cy-icon"
                          placeholder="Compañía"
                          [ngClass]="{
                            'is-invalid': isControlInvalid('company_name'),
                            'is-valid': isControlValid('company_name')
                          }"
                        />
                        <div
                          class="valid-feedback"
                          *ngIf="isControlValid('company_name')"
                        >
                          Compañía ingresada correctamente
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('required', 'company_name')"
                        >
                          {{ "El elemento es requerido" }}
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('maxlength', 'company_name')"
                        >
                          {{ "Máximo: " }} 100
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            editForm.get('company_name')?.errors?.serverError
                          "
                        >
                          {{
                            editForm.get("company_name")?.errors?.serverError
                          }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="first-name-icon">Nombres</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><span [data-feather]="'user'"></span
                          ></span>
                        </div>
                        <input
                          type="text"
                          id="first-name-icon"
                          class="form-control"
                          formControlName="firstname"
                          name="fname-icon"
                          placeholder="Nombres"
                          [ngClass]="{
                            'is-invalid': isControlInvalid('firstname'),
                            'is-valid': isControlValid('firstname')
                          }"
                        />
                        <div
                          class="valid-feedback"
                          *ngIf="isControlValid('firstname')"
                        >
                          Nombres ingresados correctamente
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('required', 'firstname')"
                        >
                          {{ "El elemento es requerido" }}
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('maxlength', 'firstname')"
                        >
                          {{ "Máximo: " }} 100
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="editForm.get('firstname')?.errors?.serverError"
                        >
                          {{ editForm.get("firstname")?.errors?.serverError }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="last-name-icon">Apellidos</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><span [data-feather]="'user'"></span
                          ></span>
                        </div>
                        <input
                          type="text"
                          id="last-name-icon"
                          class="form-control"
                          name="lname-icon"
                          placeholder="Apellidos"
                          formControlName="lastname"
                          [ngClass]="{
                            'is-invalid': isControlInvalid('lastname'),
                            'is-valid': isControlValid('lastname')
                          }"
                        />
                        <div
                          class="valid-feedback"
                          *ngIf="isControlValid('lastname')"
                        >
                          Apellidos ingresados correctamente
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('required', 'lastname')"
                        >
                          {{ "El elemento es requerido" }}
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('maxlength', 'lastname')"
                        >
                          {{ "Máximo: " }} 100
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="editForm.get('lastname')?.errors?.serverError"
                        >
                          {{ editForm.get("lastname")?.errors?.serverError }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="domain-icon">Dominio</label>
                      <div class="input-group input-group-merge">
                        <input
                          type="text"
                          id="domain-icon"
                          class="form-control"
                          name="dmain-icon"
                          placeholder="Dominio"
                          formControlName="domain_name"
                          [ngClass]="{
                            'is-invalid': isControlInvalid('domain_name'),
                            'is-valid': isControlValid('domain_name')
                          }"
                        />
                        <div class="input-group-append">
                          <span class="input-group-text" id="basic-addon2"
                            >@example.com</span
                          >
                        </div>
                        <div
                          class="valid-feedback"
                          *ngIf="isControlValid('domain_name')"
                        >
                          Dominio ingresado correctamente
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('required', 'domain_name')"
                        >
                          {{ "El elemento es requerido" }}
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('maxlength', 'domain_name')"
                        >
                          {{ "Máximo: " }} 100
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="
                            editForm.get('domain_name')?.errors?.serverError
                          "
                        >
                          {{ editForm.get("domain_name")?.errors?.serverError }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <div class="form-group">
                      <label for="email-id-icon">Correo electrónico</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><span [data-feather]="'mail'"></span
                          ></span>
                        </div>
                        <input
                          type="email"
                          id="email-id-icon"
                          class="form-control"
                          name="email-id-icon"
                          placeholder="Email"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid': isControlInvalid('email'),
                            'is-valid': isControlValid('email')
                          }"
                        />
                        <div
                          class="valid-feedback"
                          *ngIf="isControlValid('email')"
                        >
                          Correo ingresado correctamente
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('required', 'email')"
                        >
                          {{ "El elemento es requerido" }}
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('maxlength', 'email')"
                        >
                          {{ "Máximo: " }} 100
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="editForm.get('email')?.errors?.serverError"
                        >
                          {{ editForm.get("email")?.errors?.serverError }}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <div class="form-group">
                      <label for="password-icon">Password</label>
                      <div class="input-group input-group-merge">
                        <div class="input-group-prepend">
                          <span class="input-group-text"
                            ><span [data-feather]="'lock'"></span
                          ></span>
                        </div>
                        <input
                          [type]="mergedPwdShow ? 'text' : 'password'"
                          class="form-control"
                          id="basic-default-password1"
                          formControlName="password"
                          placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;"
                          aria-describedby="basic-default-password1"
                          [ngClass]="{
                            'is-invalid': isControlInvalid('password'),
                            'is-valid': isControlValid('password')
                          }"
                        />
                        <div
                          class="input-group-append"
                          (click)="mergedPwdShow = !mergedPwdShow"
                        >
                          <span class="input-group-text cursor-pointer"
                            ><i
                              class="feather"
                              [ngClass]="{
                                'icon-eye-off': mergedPwdShow,
                                'icon-eye': !mergedPwdShow
                              }"
                            ></i
                          ></span>
                        </div>
                        <div
                          class="valid-feedback"
                          *ngIf="isControlValid('password')"
                        >
                          Contraseña ingresada correctamente
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('required', 'password')"
                        >
                          {{ "El elemento es requerido" }}
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="controlHasError('maxlength', 'password')"
                        >
                          {{ "Máximo: " }} 100
                        </div>
                        <div
                          class="invalid-feedback"
                          *ngIf="editForm.get('password')?.errors?.serverError"
                        >
                          {{ editForm.get("password")?.errors?.serverError }}
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="col-12">
                    <button [disabled]="loading"  (click)="onSubmit()" class="btn btn-primary mr-1" rippleEffect>
                      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Crear Tenant
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Basic Alerts end -->
  </div>
</div>
